.metrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 55px;
  gap: 60px;
  background: inherit;
  box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.5);
  margin-top: 55px;
  max-width: 1280px;
  margin: 120px auto;
}