.root {
  margin: 0;
  position: relative;
  color: black;
  overflow: overlay;
  background-color: black;
}

.root::after {
  background-image: url('../../media/6248142.jpg');
  opacity: 0.5;
  background-color: #373B3D;
  background-position: center;
  background-size: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -3;
  content: '';
}