.root {
  margin: 0;
  position: relative;
  color: black;
  overflow: overlay;
}

.root::after {
  background-image: url('../../media/6248142.jpg');
  background-color: white;
  opacity: 0.85;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -3;
  content: '';
}