.smartphone__screen {
  box-sizing: border-box;
  
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  
  border: 0.764px solid #2D2D2D;
  box-shadow: inset 0.764px 0.764px 1.528px rgba(0, 0, 0, 0.25);
  border-radius: 45.84px;
}