.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  gap: 30px;

  background: inherit;
  position: relative;

}

.card::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(1px);
  box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.4);
}