.header__logo-img {
  background-image: url('../../../media/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  animation: logoRotation 30s infinite ease-in-out;
}

@keyframes logoRotation {
  from{
    transform: rotate(0deg);
  }

  50%{
    transform: rotate(720deg);
  }

  to {
    transform: rotate(0deg);
  }
}