.header__logo-img {
  background-image: url('../../../media/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transition: all 2s ease-out;
}

.header__logo-img:hover {
  transform: rotate(720deg);
}