.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  visibility: hidden;
}

.popup::before {
  background-color: rgba(0, 0, 0, 0.0);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  transition: background-color .4s linear;
}
